@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @ViewBag.title = "Redirecting...";
}

<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
    <script type="text/javascript">
        setTimeout(function(){
            window.location.href = '@Url.Action("Index", "Home")';
        }, 3000);
    </script>
</head>
<body>
    <p>Added request successfully! Now redirecting to home...</p>
</body>
</html>
