
@{
    ViewBag.Title = "User Home";
Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>UserHome</h2>
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Canora Boarding Service</h1>
        <p class="lead">This is a webapp for a hypothetical "Pet Boarding" service</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-10" aria-labelledby="aboutTitle">
            <h2 id="aboutTitle">About</h2>
            <p>
                This is a hypothetical "Pet Boarding" service webapp built using ASP.NET MVC during my intenrship with Web Surfing Studios. This webapp was built
                with features such as creating and managing user accounts, managing pets, and managing bookings. Accounts, Pets, and Bookings are all stored on a SQL Server database.
                Additionally, admin tools are available for managing user accounts, pets, and bookings. This is the home page of the user layout!
            </p>
        </section>
    </div>
</main>

