
@{
    ViewBag.Title = "Hours";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}
<h1>Hours</h1>

<table class="table">
    <thead>
        <tr>
            <th>Day</th>
            <th>Hours</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Monday</td>
            <td>7:00 AM - 8:00 PM</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>7:00 AM - 8:00 PM</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>7:00 AM - 8:00 PM</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>7:00 AM - 8:00 PM</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>7:00 AM - 8:00 PM</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>7:00 AM - 8:00 PM</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>7:00 AM - 8:00 PM</td>
        </tr>
    </tbody>
</table>