@{
    ViewBag.Title = "Message Sent!";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<!DOCTYPE html>
<html>
<body>
    <h1>Your message has been sent!</h1>
    <p style="font-size: 20px;">Thank you for contacing us! We will get back to you shortly!</p>
</body>
</html>

